NODE_ENV=production

DATABASE_URL=postgresql://root:root@database:5432/db

#Next-Auth Config
JWT_SECRET=
EMAIL_SERVER=
EMAIL_FROM=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000/
EMAIL_VERIFICATION=false

#Dynamic Scoring Config
LOWER_BOUND=0.1
UPPER_BOUND=0.75

#Runner Config
RUNNER_SITE=
API_AUTH=


