NODE_ENV=production

DATABASE_URL=mysql://root:root@localhost:3306/db

EMAIL_SERVER=
EMAIL_FROM=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

NEXTAUTH_URL=http://localhost:3000/

EMAIL_VERIFICATION=false


LOWER_BOUND=0.1
UPPER_BOUND=0.75
TOTAL_PARTICIPANTS=100
CHALLENGE_MAX_POINTS=1000
CHALLENGE_MIN_POINTS=100
DYNAMIC_SCORING=false

