$body-bg: #EBEBEB;
$primary: #28447B;
$primary-light: #D1DBF0;
$primary-superlight: #E0E7F5;
$primary-dark: #192A4D;
$secondary: #FFDA33;
$secondary-light: #FFEC99;
$secondary-dark: #E0B700;
$acs-blue: #023e73;
$acs-blue-dark: #001947;
$acs-blue-light: #4368a2;
$acs-red: #d92344;
$acs-red-dark: #a0001e;
$acs-red-light: #ff5f6f;
$acs-yellow: #FFC629;
$acs-yellow-dark: #c79600;
$acs-yellow-light: #fff961;
$subtext: #878787;

:export{
    base: $body-bg;
    primary: $primary;
    secondary: $secondary;
}