$body-bg: #EBEBEB;
$primary: #28447B;
$priamry-light: #D1DBF0;
$priamry-superlight: #E0E7F5;
$primary-dark: #192A4D;
$secondary: #FFDA33;
$secondary-light: #FFE15C;
$secondary-dark: #E0B700;
$subtext: #878787;

:export{
    base: $body-bg;
    primary: $primary;
    secondary: $secondary;
}