$body-bg: #EBEBEB;
$primary: #28447B;
$primary-light: #D1DBF0;
$primary-superlight: #E0E7F5;
$primary-dark: #192A4D;
$secondary: #FFDA33;
$secondary-light: #FFEC99;
$secondary-dark: #E0B700;

$subtext: #878787;

$neutral-900: #212529;
$neutral-800: #343A40;
$neutral-700: #495057;
$neutral-600: #6C757D;
$neutral-500: #ADB5BD;
$neutral-400: #CED4DA;
$neutral-300: #DEE2E6;
$neutral-200: #E9ECEF;
$neutral-100: #F8F9FA;


:export{
    base: $body-bg;
    primary: $primary;
    secondary: $secondary;
}