.click{
    cursor: pointer;
}

.displayFilter{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end; 
    font-size: 1.3rem;
}

.mini{
    width: fit-content;
    margin-left: 1rem;
}