@import 'styles/_variables.scss';

.btnCard {
	height: 8rem;
	width: max-content;
	margin: 10px;
	background-color: white;
	border: none;
	border-radius: 5px;
}

.btnCard:hover {
	box-shadow: 4px 4px 4px 4px rgba($primary, 0.2);
	transition: 0.3s;
}

@media screen and (min-width: 1000px) {
	.modal {
		width: 40vw;
		max-width: 40%;
	}
}
.card {
	color: black;
	background-color: inherit;
	border: none;
}

.inputField, .inputField:focus {
	height: 100%;
	width: 100%;
	padding-left: 10px;
	outline-color: rgba($primary, 0.4);
	border-radius: 5px;
	border: none;
	background-color: #dfdfdf;
}

.submit {
	width: 100%;
	height: 100%;
	// background-color: rgba($primary, 0.8);
	border-width: 2px;
}

.btnHint {
	width: fit-content;
	background: none;
	border: none;
	text-align: left;	
	padding-left: 0.5rem;
}

.btnHint:hover {
	background: none;
	border: none;
	font-weight: bold;
}

.empty{
	background-color: white;
	background: transparent;
	border:none;
}

.hintContent{
	// margin-left: 10px;
	color: $subtext;
	padding-top: 0;
}

.solve{
	font-size: 1rem;
	font-weight:normal;
	color: $subtext;
	margin-bottom: 0;
}