@import 'styles/_variables.scss';

.btnCard{
	height: max-content;
	width: max-content;
	padding:0;
}

.card{
	color: black;
}

.inputField {
	padding: 0;
}

.submit {
	width: 100%;
	height: 100%;
	background-color: rgba($primary,0.8);
	border-color: rgba($primary,0.8);
}

.hint{
	width: fit-content;
	margin-left: 10px;
	background: none;
	word-spacing: 0.5rem;
	border: none;
	align-items: center;
}

.hint:hover{
	background: none;
	border: none;
	font-weight: bold;
}