@import 'styles/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
	font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

body,
html {
	height: 100%;
}

h1{
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
}

h2{
	font-size: 48px;
	line-height: 64px;
	font-weight: bold;
}

h3{
	font-size: 40px;
	line-height: 48px;
	font-weight: medium;
}

body{
	font-size: 16px;
	line-height: 24px;
}

h6{
	color: #666;
}
// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';

.txt-center{
	text-align: center;
}

.txt-right{
	text-align: right;
}