@import 'styles/_variables.scss';

$github :  #5E4484;
$discord : #6279CA;
$google : #FFFFFF;


.inputField {
	padding: 0;
	margin-right: 5px;
}

.submit {
	width: 100%;
	height: 100%;
	margin-right: 5px;
}

.btnGithub {
	background-color: $github;
	width: 100%;
	padding: 0;
	height: 3.5rem;
	align-items: center;
}

.btnGithub:hover, .btnGithub:active, .btnGithub:focus {
	background-color: $github;
	box-shadow: 2px 2px 2px 2px rgba($github, 0.3);
}

.btnGoogle {
	// border-radius: 1rem;
	background-color: $google;
	color: black;
	width: 100%;
	padding: 0;
	height: 3.5rem;
	align-items: center;
	border: none;
}

.btnGoogle:hover, .btnGoogle:focus, .btnGoogle:active  {
	background-color: $google;
	color: black;
	box-shadow: 2px 2px 2px 2px rgba(black, 0.2);
}

.btnDiscord {
	background-color: $discord;
	color: white;
	width: 100%;
	padding: 0;
	height: 3.5rem;
	align-items: center;
	border: none;
}

.btnDiscord:hover, .btnDiscord:focus, .btnDiscord:active  {
	background-color: $discord;
	box-shadow: 2px 2px 2px 2px rgba($discord, 0.4);
}


.providerIcon {
	margin-right: 10px;
}