@import 'styles/_variables.scss';

.imageContainer{
    float: right;
    border-radius: 50%;
    padding: 10px;
    width: 220px;
    height: 220px;
}

.wrap{
    height: fit-content;
    width: fit-content;
}

.buttonCluster{
    display:flex;
    justify-content: flex-end;
    padding: 0px;
}

.border{
    border-bottom: 3px solid $neutral-600;
    margin: 0px;
}

.btn{
    height: 48px;
    width: 200px;
    line-height: 24px;
    font-size: 18px;
}

.txt{
    line-height: 64px;
}