@import 'styles/_variables.scss';

.img{
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
	width: 240px;
	height: 90px;
}

.sidebar {
	background-color: #222;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 240px;
}


.nav {
	position: relative;
	font-size: 20px;
	list-style: none;
}

.text {
	color: #f0f0f0;
	letter-spacing: 0.1em;
	margin-top: 20px;
	font-size: 1em;
	display: block;
	transition: all ease-out 300ms;
	text-decoration: none;
}

.selected {
	@extend .text;
	font-weight: bold;
	color: $acs-yellow;
}

.text:hover {
	color: $acs-yellow;
	font-weight: bold;
}

.text:active {
	color: $acs-yellow;
	font-weight: bold;
}

.btnSignout {
	color: $acs-yellow;
	z-index: 9999999;
	position: absolute;
	border: none;
	bottom: 0;
}
