@import 'styles/_variables.scss';

.sidebar {
	background-color: $primary-dark;
	display: flex;
	height: 100%;
	width: 17%;
	flex-direction: column;
	position: fixed;
}

.nav {
	position: relative;
	font-size: 20px;
	list-style: none;
}

.text {
	color: $secondary;
	margin-top: 20px;
	font-weight: 300;
	display: inline-flex;
	transition: all ease-out 300ms;
	align-items: center;
	text-decoration: none;
}

.selected {
	@extend .text;
	font-weight: 800;
	color: $secondary-dark;
}

.text:hover {
	color: $secondary-dark;
	font-weight: bold;
}

.text:active {
	color: $secondary-dark;
	font-weight: bold;
}

.btnSignout {
	background-color: $primary-dark;
	color: $secondary-dark;
	z-index: 9999999;
	position: absolute;
	border: none;
	bottom: 0;
}