@import 'styles/_variables.scss';

.sidebar {
    background-color: $primary;
    display: flex;
    height:100%;
    align-items: center;
}

.nav {
    position: relative;
    font-size: 20px;
    list-style: none;
}

.text {
    color: rgba($secondary, 0.8);
    letter-spacing: 0.1em;
    margin-top: 20px;
    font-size: 1em;
    display: block;
    transition: all ease-out 300ms;
    text-decoration: none;
}

.text:hover {
    color: $secondary;
    font-weight: bold;
}

.text:active {
    color: white;
    font-weight: bold;
}