.toast{
    position: absolute;
    z-index: 2147483647;
}

.header{
    justify-content: center;
    color: red;
}

.body{
    text-align:center;
    font-size: large;
    background-color: white;
    // color: red;
}