@import 'variables';

.row{
    color: $neutral-700;
    font-size: 18px;
    line-height: 24px;
    padding: 14px 16px 14px 0px;
    border-top: 1px solid $neutral-400;
}

.header{
    color: $neutral-700;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    padding: 16px 16px 16px 0px;
    border-bottom: 2px solid $neutral-400;
}

.container{
    width: 1000px;
}